{% extends "base.html" %}

{% block header %}
<h3> List of articles </h3>
{% endblock %}

{% block content %}
{% for article in _list_articles %}

<div class="row article">
  <div class="nine columns">
    <h4><a href="/{{ article.url }}">{{ article.title }}</a></h4>
  </div>

  <div class="three columns">
    <span>{{ article.date | strftime("%Y-%m-%d") }}</span>
    <span class="separator">&nbsp;</span>
    <a class="subtle" href="/{{ article.category.url }}">{{ article.category }}</a>
  </div>
</div>

{% endfor %}
{% endblock %}
