{% extends "base.html" %}

{% set _list_articles = articles | selectattr("category", "equalto", page.filter_category) %}

{% block heading %}
<h3> {{page.title}} </h3>
{% endblock %}

{% block content %}

{{page.content}}

{% for article in _list_articles %}

<div class="row article">
  <div class="twelve columns">
    <h4 style="display: inline-block">
	    <a href="{% if article.link %}{{ article.link }}{% else %}/{{ article.url }}{% endif %}">{{ article.title }}</a></h4>
    <span class="separator">&nbsp;</span>
    <span>{{ article.date | strftime("%Y-%m-%d") }}</span>
    <span class="separator">&nbsp;</span>
    <span>{{ article.tag }}</span>
  </div>
</div>
{% if page.summary %}
<div class="row summary">
  <div class="seven columns">
    {{article.summary}}
  </div>
  <div class="five columns">
    {% if article.image %}<img src="/images/{{article.image}}"/>{% endif %}
  </div>
</div>
{% endif %}

{% endfor %}
{% endblock %}
