body {
  font-family: "Monteserrat", sans-serif;
  font-weight: 400;
}

img {
  max-width: 80%;
  align: center;
  margin-bottom: 10px;
}

.navbar {
  border-bottom: solid 1px blue;
}

.navitem {
  text-align: right;
}

.navitem a {
  color: inherit;
  text-decoration: inherit;
  position: relative;
  padding-bottom: 6px;
  margin-left: 1em;
  font-size: 1em;
  margin-top: 2em;
}

.navitem a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: lightblue;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.navitem a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.heading {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: solid 1px blue;

  text-align: center;
  font-weight: 300;
}

.heading h3 {
  margin-bottom: 0px;
}

.separator {
  display: inline-block;
  background: #aaa;
  width: 1px;
  margin-left: 5px;
  margin-right: 5px;
}

a.subtle {
  color: inherit;
  text-decoration: inherit;
  font-weight: 300
}

a.subtle:hover {
  font-weight: 400
}

.article h4 a {
  color: inherit;
  text-decoration: inherit;
}

.article h4 a:hover {
  color: #1EAEDB;
  text-decoration: underline;
}

.footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: dotted 1px blue;
  text-size: 0.7em;
  color: gray;
}

.row.summary {
    margin-bottom: 10px;
    border-bottom: 1px dashed blue;
}
